alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
commonmark==0.9.0
docloud==1.0.369
docutils==0.14
expects==0.9.0
future==0.17.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.17
Jinja2==2.10.1
livereload==2.6.1
m2r==0.2.1
Mako==1.0.11
Markdown==2.4.1
MarkupSafe==1.1.1
mistune==0.8.4
mkdocs==1.0.4
more-itertools==7.0.0
numpy==1.16.2
packaging==19.0
pdoc==0.3.2
pdoc3==0.6.2
Pillow==9.0.0
pluggy==0.12.0
py==1.8.0
pydoc-markdown==2.0.5
Pygments==2.4.2
pyparsing==2.4.0
pytest==4.6.1
pytz==2019.1
PyYAML==5.1
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.1.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tornado==6.0.2
urllib3==1.25.7
wcwidth==0.1.7
zipp==0.5.1
