atomicwrites==1.3.0
attrs==19.1.0
certifi==2018.11.29
chardet==3.0.4
cplex==12.8.0.1
docloud==1.0.369
docplex==2.8.125
idna==2.8
importlib-metadata==0.17
more-itertools==7.0.0
numpy==1.16.2
packaging==19.0
pluggy==0.12.0
-e git+git@github.com:Koozco/pmp.git@482c9de79a6e4dc1ec5b989afeaf89e78c694ff3#egg=pmp
py==1.8.0
pyparsing==2.4.0
pytest==4.6.1
requests==2.21.0
six==1.12.0
urllib3==1.24.1
wcwidth==0.1.7
zipp==0.5.1
